.contactList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
  width: 460px;
  /* padding: 15px; */
  /* margin-left: 20px; */
  padding:  15px
=======
  gap: 10px;
  width: 600px;
  padding: 15px;
  margin-left: 20px;
>>>>>>> e89cccd686895914b72626f3983ed24a377dbe83
};

.massage {
margin: 4px;
font-size: 20px;
}